<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.wdd" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SetUpWDD</name>
    <description>Sample Apache Cordova App</description>
    <author email="roberto.sanfelici@wddmail.com" href="https://www.windowsdigitaldriver.com">
        Windows Digital Driver srl
    </author>
    <content src="http://localhost/test.html" />
   <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<edit-config 
xmlns:android="http://schemas.android.com/apk/res/android" 
file="app/src/main/AndroidManifest.xml" 
mode="merge" 
target="/manifest/application"> 
   <application android:usesCleartextTraffic="true" /> 
</edit-config>	
<icon src="/res/logo.png"  />
</widget>

